.food-plan-group__info {

    margin-bottom: 20px;
}

.food-plan-group__container {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.food-plan-card-header {
    margin-bottom: 10px;
    text-align: right;
    
}

.ref-values-card__container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 8em;
    column-gap: 20px;
}

.ref-values-card__container h4 {
    margin-top: 10px;
    margin-bottom: 8px;
}

.ref-value {
    color: var(--highlighted-text-color);
}


.food-plan-group__right-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 1.5em;
}

.ref-values-card-header {

    margin-bottom: 20px;

}

.ref-values-card {
    padding: 20px;
}


.progress-card {
    padding: 20px;
}

.progress-card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.progress-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.food-plan-card {
    margin-bottom: 30px;
}


.food-plan-aliment-field {

    margin-top: 20px;
    display: grid;
    gap: 1em;
    grid-template-columns: 5fr 3fr 0.5fr;

}




