.food-plan-group__info {

    margin-bottom: 20px;
}

.food-plan-group__container {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.food-plan-card-header {
    margin-bottom: 10px;
    text-align: right;
    
}




.food-plan-group__right-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 1.5em;
}






.food-plan-card {
    margin-bottom: 30px;
}


.food-plan-aliment-field {

    margin-top: 20px;
    display: grid;
    gap: 1em;
    grid-template-columns: 5fr 3fr 0.5fr;

}

.fooddiary-action-buttons {
    display: flex; 
    justify-content: flex-end;
}

.fooddiary-submit-button {
    display: flex; 
    justify-content: center;
}


.food-plan-group__container h3 {
    font-size: 0.9em;
}





