.ref-values-card-header {

    margin-bottom: 20px;

}

.ref-values-card {
    padding: 20px;
}

.ref-values-card__container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 8em;
    column-gap: 20px;
}

.ref-values-card__container h4 {
    margin-top: 10px;
    margin-bottom: 8px;
}

.ref-value {
    color: var(--highlighted-text-color);
}