.appointment-group__container {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-bottom: 30px;
}


.appointment-group__info {

    margin-bottom: 25px;
}


.appointment-group__container-left {
    display: grid;
    gap: 1.5em;
}
