

.login-page-container {
    height: 100vh;
    margin-left: -255px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    
}

.login-form-col h1 {

    font-size: 1.6em;
    text-align: left;
}

.login-form-col p {

    margin-bottom: 30px;
}

.login-logo-div {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -35px;
    
    background: -webkit-linear-gradient(to bottom, #5DC692, #00867C);
    background: linear-gradient(to bottom, #5DC692, #00867C);
    z-index: 1;
}

.login-form-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#f1f1f1 0.9px, #ffffff 0.9px);
    background-size: 18px 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 2;
  box-shadow: 6px 10px 54px -3px rgba(0,0,0,0.1);

}



.login-logo-container img {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    box-shadow:  28px 28px 52px #4fa87c,
                 -28px -28px 52px #6be4a8;
    
}

.login-logo-container-left img {
    display: none;
}

.login-form {
    min-width: 400px;

}

.login-form__submit-button {
    text-align: center;
    margin: 30px;
}


@media (max-width: 1000px) {
    .login-logo-container-left img {
        display: block;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 6px 10px 54px -3px rgba(0,0,0,0.1);
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .login-logo-div {
        display: none;
    }
    .login-form-col {
      border-radius: 0;


    }
    .login-page-container {
        margin-left: 0;

    }



}

