.appointments-card h2 {

    padding: 10px;
    margin-bottom: 10px;
}


.appointments-card__container {
    padding-left: 20px;
    padding-right: 20px;
    height: 280px;
    overflow:auto;
}

.appointments-card__container * {
    font-size: 0.75rem !important;
    
}

.appointments-card__edit-icon {
    margin-left: 15px;
}

.appointments-card__action-icons {
    margin-right: auto;
    margin-left: auto;
}

