.header {
    display: flex;
    align-items: right;
    justify-content: right;
}

.header__avatar {
    margin-right: 50px;
    margin-top: 30px;

}

.header__icons {
    column-gap: 10px;
    display: flex;
    align-items:flex-end
}



