.new-patient-form__container {
    max-width: 900px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.new-patient-form__container h3 {

    font-size: 0.9em;
}



.new-patient-form__card {
    margin-bottom: 1em;
}

.new-patient-form__submit-button {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.new-patient-card-wrapper {
    padding-bottom: 30px;
}