.patients-list {
    display: grid;
    list-style: none;
    padding: 0;
    grid-row-gap: 10px;
    max-width: 100%;
  }

.patients-list__info {

    margin-bottom: 25px;
}





.patients-list__info h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
    color: #49B88D;
}

.patients-list__info p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #BEBEBE;
}

