
  .patient-item__info {
    margin-right: 18px;
    margin-left: 18px;
    flex-grow: 1;
  }

  .patient-item__info-name {
    margin-right: 18px;
    margin-left: 18px;
    flex-grow: 1;
    width: 160px;
  }

  .patient-item__image {
    align-self: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  .patient-item__content {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



  }

  .patient-item__buttons {
    display: flex;
    column-gap: 10px;
    align-items: right;
    justify-content: right;
  }


  .patient-item__info__goal-weight {
    font-size: 1.1rem;
    font-weight: normal;
    color: var(--titles-color);
}

